.top-bar
  %h3 ImplicitCAD (ExtOpenSCAD) Cloud
  .pull-right
    .btn-group
      = navigation_button_small "/", "Home"
      %a.btn.dropdown-toggle{ "data-toggle" => "dropdown"}
        Docs
        .caret
      %ul.dropdown-menu
        = navigation_item "/docs", "Tutorial"
        = navigation_item "/docs/api", "API Reference"
        = navigation_item "/faq", "FAQ"
      = navigation_button_small "/examples", "Examples"
      = navigation_button_small "http://github.com/colah/ImplicitCAD", "Github"
      = navigation_button_small "/editor", "Try It Online!"
  //.io-bar
  //  %a.btn.btn-small.file-new{href: "#"}
  //    %i.icon-file
  //    New
  //  %a.btn.btn-small.file-open{href: "#"}
  //    %i.icon-folder-open
  //    Open..
  //  %a.btn.btn-small.file-save{href: "#"}
  //    %i.icon-ok
  //    Save
  //  %a.btn.btn-small.file-save-as{href: "#"}
  //    %i.icon-pencil
  //    Save As..
  //  %a.btn.btn-small.file-cnc{href: "#"}
  //    %i.icon-download-alt
  //    Send to CNC
  //  %a.btn.btn-small.logout{href: "/sessions/logout"}
  //    %i.icon-lock
  //    Log Out


.editor_and_viewer_container
  %pre.editor= escad_example(@example)

  .output.well
    .btns-output
      %a.btn.btn-toggle-transparency{href: "#"}
        Toggle Tranparency
      %a.btn.btn-zoom-out{href: "#"}
        =#%i.icon-zoom-out
        Zoom Out
      %a.btn.btn.btn-zoom-in{href: "#"}
        =#%i.icon-zoom-in
        Zoom In
      %a.btn.btn-primary.btn-render{href: "#"}
        Render
    %h3 Model
    .well.viewer
      .svg-viewer
      .stl-viewer
    %h3 Console
    .well.console


%script{:id=>"load-modal-template", :type=>"text/x-handlebars-template"}
  = render :partial => "iobar/load-modal"

%script{:id=>"save-as-modal-template", :type=>"text/x-handlebars-template"}
  = render :partial => "iobar/save-as-modal"

%script{:id=>"delete-files-warning-template", :type=>"text/x-handlebars-template"}
  = render :partial => "iobar/delete-files-warning"

