.content-container-wrapper
  .index
    .container
      .row
        .offset2.span8
          %h1 Examples!

      - examples.each do |example|
        - code = example_code example
        - codelines = code.split("\n").length
        %br/
        %br/
        .row
          - if cycle("even", "odd") == "odd"
            .offset2.span8{:style => "text-align: center;"}
              - (1.. (6 - codelines)/2).each do |n|
                %br/
              %pre{:style => "text-align: left;"}= example_code example
              - (1.. (6 - codelines)/4).each do |n|
                %br/
              %a.btn.btn-success.btn-large.btn-h2-align{href: "/examples/#{example}"} Try this code!
            .span2
              .well{style: "height: 150px; background:url('/assets/examples-#{example}.png') no-repeat 50% 65%"}
          - else
            .span2
              .well{style: "height: 150px; background:url('/assets/examples-#{example}.png') no-repeat 50% 65%"}
            .span8{:style => "text-align: center;"}
              - (1.. (6 - codelines)/2).each do |n|
                %br/
              %pre{:style => "text-align: left;"}= example_code example
              - (1.. (6 - codelines)/4).each do |n|
                %br/
              %a.btn.btn-success.btn-large.btn-h2-align{href: "/examples/#{example}"} Try this code!

