!!!
%head
  %title ImplicitCad.org

  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = csrf_meta_tags

%body
  - unless @editor
    .implicit-title
      %a.logo-link{:href=> "/"}
        %h1 ImplicitCAD
    .nav
      .btn-toolbar.btn-toolbar-mod
        = navigation_button "/", "Home"
        .btn-group
          %a.btn.btn-large.dropdown-toggle{ "data-toggle" => "dropdown"}
            Docs
            .caret
          %ul.dropdown-menu
            = navigation_item "/docs", "Tutorial"
            = navigation_item "/docs/api", "API Reference"
            = navigation_item "/faq", "FAQ"
        = navigation_button "/examples", "Examples"
        .btn-group
          %a.btn.btn-large.dropdown-toggle{ "data-toggle" => "dropdown"}
            Github
            .caret
          %ul.dropdown-menu
            = navigation_item "http://github.com/colah/ImplicitCAD", "ImplicitCAD"
            = navigation_item "http://github.com/colah/implicitcad.org", "implicitcad.org"
        = navigation_button "/editor", "Try It Online!"

  = yield

